*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(255, 249, 241);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pizza-info{
    text-align: center;
}

.pizza-info h2{
    font-size: 3rem;
    background-color: rgb(255, 204, 184);
    border-radius: 10px;
    margin: 10px;
}

.pizza-info h4{
    font-size: 2rem;
}

img{
    border-radius: 15px;
}

.user-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-input input{
    margin-bottom: 10px;
    width: 10rem;
    height: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(255, 253, 248);
    border: 1px black solid;
    border-radius: 15px;
}

.user-input button{
    width: 10rem;
    height: 1.7rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: rgb(255, 204, 184);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.user-input button:hover{
    background-color: rgb(255, 169, 132);
}

#ingredientes{
    display: none;
}
h5{
   
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px;
}